@import 'base.css';
@import 'shared.css';

/* hero */
.hero {
  margin-top: 4rem;
  text-align: center;
  background: url(../assets/home/mobile/image-hero-coffeepress.jpg);
  padding: 10rem 2.4rem;
  border-radius: 1rem;
  background-size: 100% 100%;
}

.hero__content h1 {
  color: var(--color-light-cream);
  font-size: 4rem;
  line-height: 1.1;
}

.hero__content p {
  margin-top: 2.4rem;
  color: var(--color-light-cream);
  line-height: 1.5;
}

.hero__content button {
  margin-top: 4rem;
  padding: 1.6rem 3rem;
  border-radius: 0.6rem;
  border: none;
  color: var(--color-light-cream);
  font-size: 1.8rem;
  background: var(--color-dark-cyan);
}
/* end hero */

/* collection */
.collection {
  margin-top: 12rem;
}

.collection h1 {
  font-size: 4rem;
  text-align: center;
  background-color: --color-light-cream;
  background-image: linear-gradient(
    to bottom,
    var(--color-grey),
    var(--color-light-cream)
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.collection__choices {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4.8rem;
}

.collection__choices__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection__choices__item:first-child {
  margin-top: 3.2rem;
}

.collection__choices__item img {
  width: 15rem;
}

.collection__choices__item__content {
  width: 28.2rem;
}

.collection__choices__item__content h3 {
  text-align: center;
  margin-top: 2.4rem;
}

.collection__choices__item__content p {
  margin-top: 1.6rem;
  text-align: center;
}
/* end collection */

/* why */
.why__bg {
  height: 90rem;
  background: var(--color-dark-grey-blue);
  border-radius: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.why {
  width: 100%;
  margin-top: 12rem;
  position: relative;
  padding: 0 2.4rem;
}

.why h1 {
  padding-top: 6.4rem;
  font-size: 2.8rem;
  color: var(--color-light-cream);
  text-align: center;
}

.why p {
  text-align: center;
  color: var(--color-light-cream);
  line-height: 1.5;
  margin-top: 2.4rem;
}

.why__choices {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2.4rem;
}

.why__choices__item {
  background: var(--color-dark-cyan);
  border-radius: 0.8rem;
  padding: 7.2rem 0 4.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-light-cream);
}

.why__choices__item:first-child {
  margin-top: 6.4rem;
}

.why__choices__item img {
  width: 7.2rem;
}

.why__choices__item__content {
  width: 25rem;
}

.why__choices__item__content h3 {
  text-align: center;
  margin-top: 5.6rem;
  font-size: 2.4rem;
}

.why__choices__item__content p {
  text-align: center;
}
/* end why */

/* how */
.how {
  margin-top: 12rem;
}

.how h1 {
  font-size: 2.4rem;
  text-align: center;
  color: var(--color-grey);
}

.how__choices {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 4rem;
  margin-top: 6.4rem;
}

.how__choices__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how__choices__item h2 {
  font-size: 7.2rem;
  text-align: center;
  color: var(--color-pale-orange);
}

.how__choices__item__content h3 {
  font-size: 2.8rem;
  text-align: center;
}

.how__choices__item__content p {
  margin-top: 1.6rem;
  line-height: 1.5;
  text-align: center;
  width: 32rem;
}

.how__btn {
  display: block;
  margin: 8rem auto 0 auto;
  text-align: center;
  padding: 1.6rem 3rem;
  border-radius: 0.6rem;
  border: none;
  color: var(--color-light-cream);
  font-size: 1.8rem;
  background: var(--color-dark-cyan);
}
/* end how */
