/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-top: 3.2rem;
}

.nav__logo {
  width: 16rem;
}

.nav__menu-open {
  background: none;
  border: none;
  outline: none;
}
/* end nav */

/* footer */
.footer {
  margin: 12rem 0 7.2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.4rem 0;
  background: var(--color-dark-grey-blue);
}

.footer__site__links {
  margin-top: 4.8rem;
}

.footer__site__links li {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: var(--color-grey);
}

.footer__site__links li:nth-of-type(even) {
  margin: 2.4rem 0;
}

.footer__social__links {
  margin-top: 4.8rem;
}

.footer__social__links li {
  display: inline-block;
}

.footer__social__links li:nth-of-type(even) {
  margin: 0 2.4rem;
}

@media (min-width: 768px) {
  .footer__site__links li {
    display: inline;
  }

  .footer__site__links li:nth-of-type(even) {
    margin: 0 3.2rem;
  }
}
/* end footer */
