@import 'base.css';
@import 'shared.css';

/* hero */
.hero {
  background-image: url(../assets/plan/mobile/image-hero-blackcup.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-light-cream);
  text-align: center;
  padding: 10rem 2.6rem 13.6rem 2.6rem;
  border-radius: 1rem;
  margin-top: 4rem;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  margin-top: 2.4rem;
  line-height: 1.5;
}
/* end hero */

/* steps */
.steps {
  background-color: var(--color-dark-grey-blue);
  padding: 8rem 2.4rem;
  border-radius: 1rem;
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__item {
  max-width: 32rem;
}

.steps__item:nth-of-type(even) {
  margin: 5.6rem 0;
}

.steps__item h2 {
  font-size: 7.2rem;
  color: var(--color-pale-orange);
  text-align: center;
}

.steps__item h3 {
  margin-top: 2.4rem;
  font-size: 2.8rem;
  color: var(--color-light-cream);
  text-align: center;
}

.steps__item p {
  margin-top: 2.4rem;
  color: var(--color-light-cream);
  text-align: center;
}
/* end steps */

/* preferences */
.preferences {
  margin-top: 12rem;
}

.preferences__summary {
  background-color: var(--color-dark-grey-blue);
  color: var(--color-light-cream);
  padding: 3.2rem 2.4rem;
  border-radius: 0.8rem;
  margin-top: 12rem;
}

.preferences__summary h2 {
  color: var(--color-grey);
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}

.preferences__summary p {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 2.4rem;
  margin-top: 0.8rem;
}

.preferences__summary p span {
  color: var(--color-dark-cyan);
}

.preferences__btn {
  display: block;
  background-color: var(--color-dark-cyan);
  border: none;
  color: var(--color-light-cream);
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 0.6rem;
  margin: 5.6rem auto 0 auto;
}

.preferences__option:not(:first-child) {
  margin-top: 9.6rem;
}

.preferences__option h2 {
  color: #83888f;
  font-size: 2.4rem;
}

.preferences__option__choices {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.6rem;
  margin-top: 3.2rem;
}

.preferences__option__choices__item {
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f4f1eb;
  border-radius: 0.8rem;
  padding: 2.4rem;
  cursor: pointer;
}

.preferences__option__choices__item:hover {
  color: #fff;
  background-color: var(--color-dark-cyan);
}

.preferences__option__choices__item h3 {
  font-size: 2.4rem;
}
/* end preferences */
